[submodule "projects/v-ai-platform-backend"]
	path = projects/v-ai-platform-backend
	url = https://github.com/visable-dev/v-ai-platform-backend.git
[submodule "projects/v-ai-frontend"]
	path = projects/v-ai-frontend
	url = https://github.com/visable-dev/v-ai-frontend.git
[submodule "projects/v-ai-platform-iac"]
	path = projects/v-ai-platform-iac
	url = https://github.com/visable-dev/v-ai-platform-iac.git
[submodule "projects/v-ai-platform"]
	path = projects/v-ai-platform
	url = https://github.com/visable-dev/v-ai-platform.git
